{% if list|length > 0 %}
    <div class="uk-container">
        <div class="uk-grid uk-grid-collapse" data-uk-grid>
            <div class="uk-width-1-4">
                <div class="uk-card uk-card-primary uk-card-body">
                    <h4 class="uk-h5">Neuer Auftritt der Firma Sporty AG</h4>
                    <p>Mit Freude dürfen wir Ihnen mitteilen, dass wir unseren Auftritt zusammen mit der Firma w-vision komplett überarbeitet haben. Dazu gehört das ganze CI sowie die neue Webseite.</p>
                </div>
            </div>
        </div>
    </div>
{% endif %}