<!doctype html>
<html lang="{{ app.request.locale|slice(0, 2) }}">
<head>{% include 'Layout/html-head.html.twig' %}</head>
<body>

    {% include 'Layout/header.html.twig' %}

    {% include 'Slider/home-slider.html.twig' %}

    <ul class="uk-breadcrumb">
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><span href=""></span></li>
    </ul>

    {% block content %}{% endblock %}

    {% include 'Layout/footer.html.twig' %}

    {# output scripts added before #}
    {% block scripts deferred %}
        {{ pimcore_head_script() }}
    {% endblock %}

</body>
</html>
