{% extends 'layout.html.twig' %}

{% block content %}

    <div class="uk-section uk-section-default uk-height-1-1">
        <div class="uk-container">
            <h1>{{ document.action|capitalize }}</h1>
            <p>
            <div style="height:500px" data-uk-gmaps data-uk-apiKey="AIzaSyCWZ8cfcqoAGddyW3WO5lbCdwU2luJwbhc"></div>
            </p>
        </div>
    </div>

{% endblock %}
