{% extends 'layout.html.twig' %}

{% block content %}

    <div class="uk-section uk-section-default uk-height-1-1">
        <div class="uk-container">
            <h1>{{ document.action|capitalize }} template</h1>
            <p>This page is being displayed by the <kbd>{{ document.action }}Action</kbd> of <kbd>{{ document.controller|capitalize }}Controller</kbd>.</p>
        </div>
    </div>

    <div style="height: 500px" data-uk-gmaps='
    apiKey:AIzaSyCWZ8cfcqoAGddyW3WO5lbCdwU2luJwbhc;
    address:Bahnhof 6000 Luzern;
    markerContent:<b>Luzern HB</b><br>6000 Luzern;
    markerAnimation:true;
    markerList:[{"address":"Neuweg, 6370 Stans","showMarker":"true","markerContent":"test Stans","markerOpen":"true"},{"address":"Hergiswil 6052","showMarker":"true","markerContent":"test Hergiswil","markerOpen":"true"}];
    style:[{"elementType":"geometry","stylers":[{"color":"#212121"}]},{"elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"elementType":"labels.text.fill","stylers":[{"color":"#757575"}]},{"elementType":"labels.text.stroke","stylers":[{"color":"#212121"}]},{"featureType":"administrative","elementType":"geometry","stylers":[{"color":"#757575"}]},{"featureType":"administrative.country","elementType":"labels.text.fill","stylers":[{"color":"#9e9e9e"}]},{"featureType":"administrative.land_parcel","stylers":[{"visibility":"off"}]},{"featureType":"administrative.locality","elementType":"labels.text.fill","stylers":[{"color":"#bdbdbd"}]},{"featureType":"poi","elementType":"labels.text.fill","stylers":[{"color":"#757575"}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#181818"}]},{"featureType":"poi.park","elementType":"labels.text.fill","stylers":[{"color":"#616161"}]},{"featureType":"poi.park","elementType":"labels.text.stroke","stylers":[{"color":"#1b1b1b"}]},{"featureType":"road","elementType":"geometry.fill","stylers":[{"color":"#2c2c2c"}]},{"featureType":"road","elementType":"labels.text.fill","stylers":[{"color":"#8a8a8a"}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#373737"}]},{"featureType":"road.highway","elementType":"geometry","stylers":[{"color":"#3c3c3c"}]},{"featureType":"road.highway.controlled_access","elementType":"geometry","stylers":[{"color":"#4e4e4e"}]},{"featureType":"road.local","elementType":"labels.text.fill","stylers":[{"color":"#616161"}]},{"featureType":"transit","elementType":"labels.text.fill","stylers":[{"color":"#757575"}]},{"featureType":"water","elementType":"geometry","stylers":[{"color":"#000000"}]},{"featureType":"water","elementType":"labels.text.fill","stylers":[{"color":"#3d3d3d"}]}]
    '>
        Map Load
    </div>

    <div style="height: 500px" data-uk-gmaps>
        Map Load
    </div>

{% endblock %}
