{% extends 'layout.html.twig' %}

{% set headline = pimcore_input('headline') %}
{% set text = pimcore_wysiwyg('text') %}

{% block content %}
    <div class="uk-offcanvas-content">
        <main class="main-content" data-uk-height-viewport="expand: true">
            <div class="uk-section uk-section-default uk-height-1-1">
                <div class="uk-container">
                    <h1>{{ headline|raw }}</h1>
                    {{ text|raw }}
                </div>
            </div>
        </main>
    </div>
{% endblock %}
